.flip-container {
  perspective: 1000;
  display: inline-block;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.card {
margin: 0 auto;
background-color: #f4decf !important;
border-radius: 5%;
transition: 0.5s;
transform-style: preserve-3d;
position: relative;
}
.front,
.back,
.card {
  width: 250px;
  height: 350px;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 1;
  transform: rotateY(180deg);
  margin-top: -1%;
}
.back {
  z-index: 2;
  transform: rotateY(0deg);
}
img {
  max-width: 140px;
  height: 175px;
  margin: 0 auto;
  display: block;
}
.back img {
  max-width: 200px;
  height: 250px;
  margin-top: 1.25rem;
}
.btn-primary {
  margin-top: 1%;
  background-color: #5ea5a7 !important;
  border: 0px solid transparent !important;
}
