.flip-container {
  display: inline-block;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.card {
  margin: 0 auto;
  background-color: #fffdef !important;
  border-radius: 5%;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
  margin-top: 40px;
  width: 100%;
}
div.card-title.h5 {
  font-weight: 500;
  font-family: "Special Elite", cursive;
  margin-top: -3%;
}
.front,
.back,
.card {
  width: 290px;
  height: 365px;
  box-sizing: content-box;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  -webkit-box-shadow: 5px 7px 17px -5px rgba(64, 59, 64, 1);
  -moz-box-shadow: 5px 7px 17px -5px rgba(64, 59, 64, 1);
  box-shadow: 5px 7px 17px -5px rgba(64, 59, 64, 1);
}
.front {
  z-index: 1;
  transform: rotateY(180deg);
}
.back {
  z-index: 2;
  transform: rotateY(0deg);
}
img {
  max-width: 150px;
  height: 175px;
  margin: 0 auto;
  display: block;
  padding: 1%;
}
.back img {
  max-width: 200px;
  height: 250px;
  margin-top: 0.75rem;
}
a.btn-primary {
  background-color: #5ea5a7 !important;
  border: 0px solid transparent !important;
  padding: 3% !important;
  margin: 5% 0 !important;
}

a.btn-primary:hover {
  background-color: #4e888a !important;
  font-weight: bold;
}

h6 {
  margin-top: 10px !important;
}
