.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #bedbdb !important;
}
* {
  line-height: 1.5;
  padding: 0.5%;
}
* {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Special Elite", cursive;
}
/* .searchBox {
  padding: 1%;
} */