.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #bedbdb !important;
}
* {
  line-height: 1.5;
  padding: 0.5%;
}
* {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Special Elite", cursive;
  color: #474343;
}
input {
  background-color: #fffdef !important;
  padding: 1%;
  border: transparent;
}
input:active {
  border: transparent;
}
.btn-primary {
  background-color: #5ea5a7 !important;
  border: 0px solid transparent !important;
  padding: 1% !important;
}
